{% extends 'base.html.twig' %}

{# {% block javascripts %}
{{ encore_entry_script_tags('new_advertisement') }}
{% endblock %} #}

{% block title %}Dodaj ogłoszenie{% endblock %}

{% block body %}
<h1 class="mb-4">Dodaj nowe ogłoszenie</h1>

{{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'class': 'needs-validation'}, 'novalidate':
'novalidate'}) }}
<div class="mb-3">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.name) }}
</div>
<div class="mb-3">
    {{ form_label(form.description) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows': 5}}) }}
    {{ form_errors(form.description) }}
</div>
<div class="mb-3">
    {{ form_label(form.price) }}
    {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.price) }}
</div>
<div class="mb-3" id="form_images">
    {{ form_label(form.images) }}
    {{ form_widget(form.images, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.images) }}
    {# <button type="button" id="add_image" class="btn btn-secondary mb-3">Dodaj zdjęcie</button> #}
</div>


<button type="submit" class="btn btn-primary">Dodaj ogłoszenie</button>
{{ form_end(form) }}

<a href="{{ path('advertisement_index') }}" class="btn btn-link mt-3">Powrót do listy</a>
{% endblock %}